[Desktop Entry]
Name= LinuXpert
GenericName=LinuXpert Welcome App
X-GNOME-FullName=Arcolinux Welcome App
Comment=Welcome LinuXpert Welcome App
Exec=/usr/local/bin/arcolinux-welcome-app
Icon=arcolinux-hello
Terminal=false
Type=Application
Categories=GTK;Settings;Security;X-GNOME-Settings-Panel;X-GNOME-SystemSettings;X-Unity-Settings-Panel;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
Keywords=welcome;tool;
StartupNotify=true
